services:
  book:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: book
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/book
      DB_USER: myuser
      DB_PASSWORD: mypassword
    networks:
      - app-network
  postgres:
    container_name: postgres_book
    image: postgres:15
    environment:
      POSTGRES_DB: book
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge