spring:
  application:
    name: book
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/book
    username: myuser
    password: mypassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
app:
  book:
    exception-message:
      already-exist: "Book already exist"
      not-exist: "Book not exist"
  client:
    exception-message:
      already-exist: "Client already exist"
      not-exist: "Client not exist"